.container {
  display:inline-flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta las tarjetas en columnas automáticas con un ancho mínimo */
  gap: 10px; 

  /* display: flex;
  flex-wrap: wrap; 
  gap: 10px;  */
}
   
  

