.container {
    padding: 5px;
    max-width: 300px;
    margin: auto;
    border: 1px solid #817e7e;
    border-radius: 8px;
    background-color: #e0d3d3;
    color: #3d3b3b;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .label {
    font-family: monospace;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 0.875em;
    margin-top: 1px;
    display:inline-flex;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }