.navbarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgb(199, 184, 184);
    background-color: rgb(44, 83, 44);
}
.buttonsContainer{
display: flex;
flex-direction: row;
align-items: center;
gap: 5px;
}

 .navbarContainer button {
    background: linear-gradient(to left,
    rgb(98, 100, 98) 0%,
    rgb(133, 129, 129) 100%);
    border-radius: 10px;
    cursor: pointer;   
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
} 



